matplotlib
streamlit
pandas
numpy
plotly-express
fastapi # To define API routes
uvicorn # Server for web app
dotenv # To load API keys from env vars
opencv-python # Computer vision library
httpx
picamera2 # Needed to establish proper camera functionality
cloud-sql-python-connector # To connect to Google Cloud SQL server
